<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>一覧画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>社員一覧</h1>
<a href="insertMain.html" th:href="@{insertMain}">新規追加へ</a>
<table>
    <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>入社年月日</th>
        <th>部署名</th>
        <th>メールアドレス</th>
        <th>誕生日</th>
    </tr>
    <tr th:each="employee : ${employeeList}" th:object="${employee}">
        <td>
            <a href="findById.html"
               th:text="*{id}"
               th:href="@{findById(id=*{id})}">
                111
            </a>
        </td>
        <td th:text="*{name}">鈴木太郎</td>
        <td th:text="*{joinedDate}">2000-01-01</td>
        <td th:text="*{departmentName}">営業部</td>
        <td th:text="*{email}">taro@example.com</td>
        <td th:text="*{birthDay}">1980-01-01</td>
    </tr>
</table>
</body>
</html>
