<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout::layout(~{::title}, ~{}, ~{::body/content()})}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>トップ</title>
</head>
<body>
    <div class="container">
        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-primary" href="/menu">メニュー</a>
            <a class="btn btn-primary" href="/logout">ログアウト</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a class="btn btn-primary" href="/login">ログイン</a>
        </div>
    </div>
</body>
</html>
