<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout::layout(~{::title}, ~{}, ~{::body/content()})}">
<head>
    <title>ログイン</title>
</head>
<body>
    <div id="main" class="relative login">
        <div class="container">
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-10 offset-1">
                <h3 class="text-center">ログイン</h3>
                <div class="form-group text-center">
                    <p th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}"
                       th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">aaa</p>
                </div>
                <form method="post" th:action="@{'/login/auth'}">
                    <div class="form-group mx-5">
                        <input class="form-control" placeholder="ログインID" required="required" th:name="username" type="text">
                    </div>
                    <div class="form-group mx-5">
                        <input class="form-control" placeholder="パスワード" required="required" th:name="password"  type="password">
                    </div>
                    <div class="form-group">
                        <div class="col-12 text-center">
                            <button class="btn btn-primary" type="submit">ログイン</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
